<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>BRIX AI</title>
    <style>
        #chat-container {
            height: 500px;
            overflow-y: scroll;
        }
    </style>

    <link rel="stylesheet" type="text/css" href="/static/chat_interface/style.css" />
</head>
<body>
    <nav class="nav-bar">
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            {% if name %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="container">
        <div>
            <h1 class="text-center mt-5 title">BRIX AI</h1>
        </div>
        <div class="row">
            <div id = "chat-area">
                <div id="chat-container">
                    <!-- Chat messages will be inserted here -->
                    <div class = "chat-resp chat-message">
                        {% if name %}
                        <p class="airesp"><strong>Brix:</strong> Welcome {{ name }}</p>
                        {% else %}
                        <p class="airesp"><strong>Brix:</strong> Welcome</p>
                        {% endif %}
                    </div>
                </div>
                <div class="input-group">
                    <input type="text" class="form-control" id="chat-input" placeholder="Type your query here...">
                    <button id="question" type="submit" class="btn btn-primary" id="chat-send-btn">Send</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/chat_interface/script.js">
    </script>
</body>
</html>