<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="script" type="js" href="script.js">
    <link rel="stylesheet" type="text/css" href="static/css/home.css" />
    <title>University Virtual Assistant</title>
</head>
<body>
  <nav class="nav-bar">
    <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        {% if username %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
        {% endif %}
    </ul>
</nav>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
        <h1 class="text-center mt-5">BRIX AI</h1>
    </div>

    <!-- Login Form -->
    <form method="post"> 
      <input type="text" id="login" class="fadeIn second" name="username" placeholder="Matric Number">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
      |
      <a class="underlineHover " href="{{url_for('guest')}}">Login as Guest</a>
    </div>
  </div>
</div>
</body>
<script src="script.js"></script>
</html>